

div.NavBar{
    background-color: #131618;
    height: fit-content;
    width: fit-content;
    text-align: right;
    margin : 0px;
    width: 100%;
}

.MenuIcon{
    color: #D9BDC5;
    padding: 5px;
    margin-left: auto;
    margin-right: 0px;
    width: fit-content;
}  

footer.Default{
    background-color: #131618;
}