

Colours{
    background-color:#8b26ff; /*Button Unhovered*/
    background-color:#b361ff; /*Button hovered*/
    
    background-color: #202024; /*Card Button Unhovered*/
    background-color: #404044; /*Card Button Hovered*/
    
    background-color: #101014; /*Website Background*/
    
    background-color: #ffffff; /*text*/
    background-color: #a5a5a7; /*darkened text*/

}

html{
    scroll-behavior: smooth;
}

body 
{
    background-color: #101014;
    margin: 0%;
    font-family: sans-serif;
    height: fit-content;
}

.Title{
    color: #ffffff;
    font-family: sans-serif;
    height: fit-content;
    justify-content: center;
    text-align: left;
    font-size: 10vw;
    height: 40%;
}

div.FillWide{
    width: auto;
    background-color: #1E2433;
}

p.Paragraph{
    font-size: 30px;
}

.SameRow{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}

.rounded-button{
    border-radius: 24px;
    background-color:#8b26ff;
    /*box-shadow: 0 8px 14px 0 rgba(0,0,0,0.5);*/

    transition: 0.3s;
}
.rounded-button:hover{
    border-radius: 24px;
    background-color: #b361ff;
    transform: translateY(-10px);
    /*box-shadow: 0px 6px 4px  0 rgb(0, 195, 255);*/
    transition:0.3s;
}

.rounded-button h1{
    color: white;
    transition: 0.2s;
}
.rounded-button:hover h1{
    color:black;
    transition: 0.2s;
} 

/*Contact Container*/
.contact-container{
    margin-top: 50px;
    background-color: black;
    color:white;
    display: inline-flex;
    text-decoration: none;
    flex-direction: column;
    text-align: left;
    height:fit-content;
    gap:10px;
}

.contact-row{
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    gap:10px;
    vertical-align: bottom;
}

.contact-info{
    height: 60px;
    display: inline-flex;
    flex-direction: row;
    text-align-last: left;
    vertical-align: middle;
    align-items: center;

}
.contact-info img{
    height: auto;
    vertical-align: middle;
    align-items: center;

    width: 60px;
}
.contact-info h1{
    color:white;
    text-decoration: none;
    margin: auto 0;
    font-size: calc(1vh + 2vw);
    width: fit-content;
    padding: 0 10px 0 10px;
}

.profile-flex{
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    height: auto;
    width: 100%;
}

@media all and (min-width:0px) and (max-width: 960px) {


    .mobile-hide{
        visibility: hidden !important;
        width: 0px !important;
        height: 0px !important;
    }
    .SameRow{
        display: inline-flex;
        flex-direction: column;
        text-align: center;
    }

    div.Card{
        width: 70%;
        height: 40%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        padding: 10px;
        padding-left: 15px; 
        padding-right: 15px;
    
        background-color: rgba(0, 0, 0, 0.479);
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.5);
    }
    .profile-flex{
        flex-direction: column;
    }

    .to-replace-image{
        background-image: none !important;
        visibility: collapse;
        padding: 0px;
        opacity: 0;

        margin: 0px;
        height: 0px !important;
    }
    .to-replace-text{
        opacity: 0;
        visibility: collapse !important;
        padding: 0px;
        margin: 0px;
    }
    .contact-info span{
        visibility: collapse !important;
        width: 0px;
        font-size: 0px;
    }
}

.to-replace-text{
    align-content: center;
    margin: 0px;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: calc(1vw+1vh);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.789);
    color: white;
    transition: 0.4s;
}

.to-replace-text.active{
    color: transparent;
    transition: 0.4s;
}

.to-replace-image{
    color: white;
    transition: 0.4s;
    height: 540px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}

.to-replace-image.active{
    transition: 0.4s;
}

.fillwide-content{
    padding: 2%; margin:20px 50px; border-radius: 24px;
}
.content-box{
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.content-right{
    text-align: right;
}
.content-left{
    text-align: left;
    flex-direction: row-reverse;
}

