

Colours{
    background-color: #1B2023;
    background-color: #1E2433;
    background-color: #6B818C;
    background-color: #F2E2D2;
    background-color: #D9BDC5;
}

html{
    scroll-behavior: smooth;
}

body 
{
    background-color: #6B818C;
    margin: 0%;
    font-family: sans-serif;
    height: fit-content;
}


.Title{
    color: #1B2023;
    font-family: sans-serif;
    height: fit-content;
    justify-content: center;
    text-align: left;
    font-size: 10vw;
    height: 40%;
}

div.FillWide{
    width: auto;
    background-color: #1E2433;
}

p.Paragraph{
    font-size: 30px;
}

.SameRow{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}

.rounded-button{
    border-radius: 12px;
    background-color:rgba(26, 26, 26, 0.95);
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.5);

    transition: 0.3s;
}
.rounded-button:hover{
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-10px);
    box-shadow: 0px 6px 4px  0 rgb(0, 195, 255);
    transition:0.3s;
}

.rounded-button h1{
    color: white;
    transition: 0.2s;
}
.rounded-button:hover h1{
    color:black;
    transition: 0.2s;
} 

/*Contact Container*/
.contact-container{
    display: inline-flex;
    text-decoration: none;
    flex-direction: column;
    text-align: left;
    height:fit-content;
    gap:10px;
}

.contact-row{
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    gap:10px;
    vertical-align: bottom;
}

.contact-info{
    height: 60px;
    display: inline-flex;
    flex-direction: row;
    vertical-align: bottom;
    text-align-last: left;
}
.contact-info img{
    height: auto;
    width: 60px;
}
.contact-info h1{
    color:white;
    text-decoration: none;
    margin: auto 0;
    font-size: 100%;
    width: auto;
    padding: 0 10px 0 10px;
}

.profile-flex{
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    height: auto;
    width: 100%;
}

@media all and (min-width:0px) and (max-width: 960px) {

    .SameRow{
        display: inline-flex;
        flex-direction: column;
        text-align: center;
    }

    div.Card{
        width: 70%;
        height: 40%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        padding: 10px;
        padding-left: 15px; 
        padding-right: 15px;
    
        background-color: rgba(0, 0, 0, 0.479);
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.5);
    }
    .profile-flex{
        flex-direction: column;
    }

    .to-replace-image{
        background-image: none !important;
    }

}
  
.to-replace-text{
    align-content: center;
    margin: 0px;
    height: 120px;
    width: 100%;
    font-size: calc(1vw+1vh);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.556);
    color: white;
    transition: 0.4s;
}

.to-replace-text.active{
    color: transparent;
    transition: 0.4s;
}

.to-replace-image{
    color: white;
    transition: 0.4s;
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}

.to-replace-image.active{
    color: black;
    filter:url("");
    transition: 0.4s;

}