
.NavDiv{
    margin-top: 80px;
}

div.NavBar{
    margin : 0px;
    position: fixed;
    top: 0;
    
    background-color: #131618;
    text-align: right;
    height: 80px;
    width: 100%;
}

.icon-container{
    height:80px;
    width: 80px;
    float: right;
    padding-right:10px;
    align-content: center;
}  

.icon-container img{
    aspect-ratio: 1 / 1;
}

footer.Default{
    background-color: #131618;
}

@media all and (min-width:0px) and (max-width: 960px) {
    .NavDiv{
        margin-top: 150px;
    }
    div.NavBar{
        height: 150px;
    }

    .icon-container{
        height:150px;
        width: 150px;
    }  
}