
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  vertical-align: top;
  z-index: -1;
}
  

.logos-slide {
  display: inline-block;
  height: 100%;
  animation: 35s slide infinite linear;
}
  
.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  content: "";
  z-index: 2;
} 
  
.logos:before {
  left: 0;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0px, rgb(0, 0, 0) 70px);
}

.logos:after {
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0px, rgb(0, 0, 0) 70px);

}
.logos-slide img {
  height: 100%;
}
  
@media all and (min-width:0px) and (max-width: 960px) {
  .logos {
    height: 200px;
  }
    
  
  .logos-slide {
    height: 200px;
  }

}
