body{
    background-color: #101014; /*Website Background*/
    margin: 0px;
    font-family: sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Mobile/Desktop Specifiers */

.mobile-hide{
    visibility: visible;
}
.mobile-show{
    visibility: collapse;
    height: 0px !important;
}

@media all and (min-width:0px) and (max-width: 400px) {
    .mobile-hide{
        visibility: collapse !important;
        height: 0px !important;
    }
    .mobile-show{
        visibility: visible !important;
        height: auto !important;
    }
}

/*Background Effects*/
.background-blur{
    position: fixed;
    overflow: visible;
    justify-content: center;
    z-index: -100;
    width: 100%;
    height: 100vh;
    filter: blur(100px);
    background-size:cover;
}

/*Repsonsive Containers*/
.responsive-container{
    padding: 96px 128px;
    max-width: 1792px;
}

@media all and (min-width:0px) and (max-width: 1150px) {
    .responsive-container{
        padding:60px 10px;
    }
}

/* Padding */
.no-pad{
    padding: 0px;
}

.no-vert-pad{
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-horz-pad{
    padding-right: 0px;
    padding-left: 0px;
}

.small-vert-pad{
    padding-top: 10px;
    padding-bottom: 10px;    
}

.small-horz-pad{
    padding-left: 10px;
    padding-right: 10px;    
}


/*Flex properties*/
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.flex-column-reverse{
    display: flex;
    flex-direction: column-reverse;
}

.flex-will-change{
    display: flex;
    flex-direction: row;
}
.flex-will-change-invert{
    display: flex;
    flex-direction: column;
}


.flex-will-change-small{
    display: flex;
    flex-direction: row;
}
.flex-will-change-invert-small{
    display: flex;
    flex-direction: column;
}

.flex-grid{
    display: flex;
    flex-direction: row;
}

@media all and (min-width:0px) and (max-width: 800px) {
    .flex-will-change-small{
        flex-direction: column;
    }
    .flex-will-change-invert-small{
        flex-direction: row;
    }
}

@media all and (min-width:0px) and (max-width: 1150px) {
    .flex-will-change{
        flex-direction: column;
        position: static;
    }
    .flex-will-change-invert{
        flex-direction: row;
    }
    .overlay-behind{
        position: static;
        width: auto;
        left: auto;
    }

}


/* Flex Gaps */
.gap-1{
    gap:4px;
}
.gap-2{
    gap:12px;
}
.gap-3{
    gap:16px;
}
.gap-4{
    gap:20px;
}
.gap-5{
    gap:24px;
}
.gap-6{
    gap:30px;
}

/* Flex Image Container */
.flex-image{
    display: flex;
    width: 20%;
}

/* Justify Content */
.justify-center{
    justify-content: center;
}

.justify-left{
    justify-content: left;
}

.justify-right{
    justify-content: right;
}

.justify-space-between{
    justify-content: space-between;
}

/* Items */
.items-center{
    align-items: center;
}

.items-will-change{
    align-items: start;
}
.item-flex-end{
    -ms-flex-align: end;
}
.item-flex-end{
    -ms-flex-align: start;
}

.item-VA-middle{
    vertical-align: middle;
}

/*Video*/
.content-video{
    max-width: 100%;
    border-radius: 12px;
}

.drop-shaddow{
    text-shadow: 2px 2px 5px #101014;
}

/* Content Sizing */
.width-10{
    width:10% ;
}

.width-15{
    width:15% ;
}

.width-20{
    width:20% ;
}

.width-25{
    width:25% ;
}

.width-30{
    width:30% ;
}

.width-75{
    width: 75%;
}

.width-80{
    width: 80%;
}

.width-90{
    width: 90%;
}
.width-100{
    width: 100%;
}
.height-auto{
    height: auto;
}
.width-auto{
    width: auto;
}

.max-150{
    max-height: 150px !important;
    max-width: 150px !important;

}

.min-50{
    min-height: 50px !important;
    min-width: 50px !important;

}

@media all and (min-width:0px) and (max-width: 400px) {
    .width-100-mobile-only{
        width: 100% !important;
    }
}


.card-16x9{
    aspect-ratio: 16/9;
}


/* Text */
.content-text{
    color:#ffffff
}

.text-size-title{
    font-size: 52px;
    font-weight: bold;
}

.text-size-1{
    font-size: 42px;
    font-weight: bold;
}

.text-size-1_5{
    font-size: 30px;
    font-weight: bold;
}

.text-size-1_8{
    font-size: 25px;
}

.text-size-2{
    font-size: 20px;
}

p{
    margin: 0px;
}

@media all and (min-width:0px) and (max-width: 1150px) {
    .text-size-title{
        font-size: 40px;
    }
    .text-size-1{
       font-size: 32px;
    }
    .text-size-2{
        font-size: 16px;
    }
}


.text-align-swapto-left{
    text-align: center;
}
.text-center{
    text-align: center;
}

@media all and (min-width:0px) and (max-width: 400px) {

    .text-align-swapto-left{
        text-align: left;
    }
}

.highlight-button{
    padding:10px 15px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #26bbff;
    background-color:#26bbff;
    color: black;
    transition: 0.4s;
}

.highlight-button:hover{
    background-color:#61cdff;
    border-color: #61cdff;
    transition: 0.4s;
}
.highlight-disabled{
    background-color: #404044;
    border-color: #404044;
    pointer-events: none;
}
.highlight-disabled p{
    color: #29292c;;
}
.accessory{
    padding:10px 15px;
    color: white;
    border-radius: 8px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.accessory-button{
    padding:10px 15px;
    color: white;
    border-radius: 8px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    transition: 0.4s;
}
.accessory-button:hover{
    background-color:rgba(255, 255, 255, 0.25);
    transition: 0.4s;
}

.link-hide{
    text-decoration: none;
}

/*Lists*/
.no-list{
    list-style: none;
}
.no-pointer-events{
    pointer-events: none;
}

.contact-icon{
    height: 60px;
    width: 60px;
    background-size: cover;
}

.collapse{
    visibility: collapse;
    height: 0px;
    font-size: 0px;
}